@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono'); 

body {  
  background: url(background/triangles.svg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Ubuntu';
  overflow: hidden;
} 

#container {  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  height: 97.5vh;
  width: 100%;
}

#desktop__container {
  width: 100%;
  height: 100%;
}

#desktop__background {
  width: inherit;
  height: inherit;
  position: fixed;
  display: flex;
  flex-direction: column;
}
.desktop__button:hover {
  cursor: pointer;
}

#desktop__background--about {
  display: grid;  
  justify-content: center;  
  align-items: center;  
  padding: 0;  
  width: 95px;
  height: 95px;
  background-color: #00000000;
  border: none;
  border-radius: 10px;
  margin: 0.25%;
}
#desktop__settings {
  background-color: rgba(0, 0, 0, 0.750);
  width: 25%;
  height: 94vh;
  transform: translateX(100vw);
  transition: 150ms ease-in-out;
  z-index: 100;
}

#desktop__settings--header{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#desktop__settings--header > p{
  margin: 0px;
  text-align: center;
  font-size: xx-large;
  font-family: 'Ubuntu';
  font-variant-caps: all-petite-caps;
  font-weight: 600;
  color: #ffffffe3;
  user-select: none;
}

#desktop__settings--bar {
  display: flex; 
  position: absolute;  
  width: 100%;  
  height: 2px;
  margin-top: -10px;
  background-color: rgba(255, 255, 255, 0.300);
  transition: 300ms ease-in-out;
  overflow: hidden;
}

#desktop__settings--bg--triangle {
  display: flex;
  position: absolute;
  background-image: url(background/triangles.svg);
  background-size: cover;
  border: none;
  border-radius: 2px;
  scale: 200%;
  translate: 60%;
  transform: translateY(12.5px);
}

#desktop__settings--bg--triangle:hover {
  cursor: pointer;
  opacity: 75%;
}

#settings__bg--triangle--p {
  display: flex;
  position: relative;
  font-size: 14px;
  font-family: 'Ubuntu Mono';
  color: #fff;
  scale: 50%;
  transform: translateY(55px);
}

#desktop__settings--bg--swirl {
  display: flex;
  position: absolute;
  width: 75px;
  background-image: url(background/swirl.jpg);
  background-size: cover;
  border: none;
  border-radius: 2px;
  scale: 200%;
  translate: 25%;
  transform: translate(100px, 12.5px);
}

#desktop__settings--bg--swirl:hover {
  cursor: pointer;
  opacity: 75%;
}

#settings__bg--swirl--p {
  display: flex;
  position: relative;
  font-size: 14px;
  font-family: 'Ubuntu Mono';
  color: #fff;
  scale: 50%;
  translate: calc(100% / 2 - 4px);
  transform: translateY(55px);
}

#desktop__settings--bg--cube {
  display: flex;
  position: absolute;
  width: 75px;
  background-image: url(background/cube.jpg);
  background-size: cover;
  border: none;
  border-radius: 2px;
  scale: 200%;
  translate: 60%;
  transform: translateY(75px);
}

#desktop__settings--bg--cube:hover {
  cursor: pointer;
  opacity: 75%;
}
#settings__bg--cube--p {
  display: flex;
  position: relative;
  font-size: 14px;
  font-family: 'Ubuntu Mono';
  color: #fff;
  scale: 50%;
  translate: calc(100% / 2 - -3.5px);
  transform: translateY(55px);
}

#desktop__settings--bg--wave {
  display: flex;
  position: absolute;
  width: 75px;
  background-image: url(background/wave.jpg);
  background-size: cover;
  border: none;
  border-radius: 2px;
  scale: 200%;
  translate: 25%;
  transform: translate(100px, 75px);
}

#desktop__settings--bg--wave:hover {
  cursor: pointer;
  opacity: 75%;
}

#settings__bg--wave--p {
  display: flex;
  position: relative;
  font-size: 14px;
  font-family: 'Ubuntu Mono';
  color: #fff;
  scale: 50%;
  translate: calc(100% / 2 - -3.5px);
  transform: translateY(55px);
}

#about--img {
  display: grid;
  justify-items: center;
  width: 55px;
  height: 55px;
  transform: scale(130%, 125%);
  border-radius: 10px;
  margin-bottom: 1px;
  margin-top: 20%;
  filter: opacity(90%);
  user-select: none;
}
#desktop__background--about > p {
  display: grid;
  justify-items: center;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 400;
  color: #ffffffd3;
  position: relative;
  bottom: 25%;
  user-select: none;
}
#desktop__background--resume {
  display: grid;  
  justify-content: center;  
  align-items: center;  
  padding: 0;  
  width: 95px;
  height: 95px;
  background-color: #00000000;
  border: none;
  border-radius: 10px;
  margin: 0.25%;
  user-select: none;
}

#resume--img {
  display: grid;
  justify-items: center;
  width: 55px;
  height: 55px;
  transform: scale(124%, 120%);
  border-radius: 10px;
  margin-bottom: 1px;
  margin-top: 10%;
  filter: opacity(90%);
  user-select: none;
}

#desktop__background--resume > p{
  display: grid;
  justify-items: center;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 400;
  color: #ffffffd3;
  position: relative;
  bottom: 15%;
  user-select: none;
}
#desktop__background--contact {
  display: grid;  
  justify-content: center;  
  align-items: center;  
  padding: 0;  
  width: 95px;
  height: 95px;
  background-color: #00000000;
  border: none;
  border-radius: 10px;
  margin: 0.25%;
}

#contact--img {
  display: grid;
  justify-items: center;
  width: 55px;
  height: 55px;
  transform: scale(125%, 110%);
  border-radius: 10px;
  margin-bottom: 1px;
  margin-top: 10%;
  filter: opacity(90%);
  user-select: none;
}

#desktop__background--contact > p {
  display: grid;
  justify-items: center;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 400;
  color: #ffffffd3;
  position: relative;
  bottom: 20%;
  user-select: none;
}

#desktop__background--minesweeper {
  display: grid;  
  justify-content: center;  
  align-items: center;  
  padding: 0;  
  width: 95px;
  height: 95px;
  background-color: #00000080;
  border: none;
  border-radius: 10px;
  margin: 0.25%;
}

#desktop__background--projects {
  display: grid;
  justify-content: center;
  align-self: flex-start;
  padding: 0;
  width: 95px;
  height: 95px;
  background-color: #00000000;
  border: none;
  border-radius: 10px;
  margin: 0.25%;
  margin-bottom: 0%;
}

#projects--img {
  display: grid;
  justify-items: center;
  width: 55px;
  height: 55px;
  transform: scale(130%, 125%);
  border-radius: 10px;
  margin-bottom: 1px;
  margin-top: 15%;
  filter: opacity(90%);
  user-select: none;
}

#desktop__background--projects > p {
  display: grid;
  justify-items: center;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 400;
  color: #ffffffd3;
  position: relative;
  bottom: 25%;
  user-select: none;
}
#desktop__background--spotify {
  display: grid;  
  justify-content: center;  
  align-items: center;  
  padding: 0;  
  width: 95px;
  height: 95px;
  background-color: #00000000;
  border: none;
  border-radius: 10px;
  margin: 0.25%;
}

#spotify--img {
  display: grid;
  justify-items: center;
  width: 64px;
  height: 64px;
  transform: scale(125%, 115%);
  border-radius: 10px;
  margin-bottom: 1px;
  margin-top: 15%;
  filter: opacity(90%);
  user-select: none;
}

#desktop__background--spotify > p {
  display: grid;
  justify-items: center;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 400;
  color: #ffffffd3;
  position: relative;
  bottom: 12.5%;
  user-select: none;
}

#taskbar {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 6vh;
  background: rgba(67, 67, 67, 0.5);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 2);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  bottom: 0;
  left: 0;
  z-index: 100;
}

#taskbar--settings--button {
  display: flex;
  position: absolute;  
  padding: 0;
  width: 3.745%;
  height: 100%;
  background-color: #00000000;
  border: none;
  transform: translateX(96.5vw);
  z-index: 2;
}

.fa-gear {
  display: flex;
  position: absolute;
  font-size: x-large;
  color: #fff;
  margin: 10px;
  transform: translateX(96.8vw);
  z-index: 1;
}
#taskbar--settings--button:hover {
  cursor: pointer;
  color: #ffffff7d;
}
#terminal__wrapper {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

#terminal { 
  display: none;
  position: relative;
  width: 70vw;  
  height: 65vh;  
  box-shadow: 2px 4px 10px rgba(0,0,0,0.5);
  transition: 10ms ease-in-out;
}

#terminal__bar {  
  display: flex;  
  width: 100%;  
  height: 30px;  
  align-items: center;  
  padding: 0 8px;  
  box-sizing: border-box;  
  border-top-left-radius: 5px;  
  border-top-right-radius: 5px;  
  background: linear-gradient(#504b45 0%,#3c3b37 100%);
}

.bar__hover:hover {
  cursor: grab;
}

#bar__buttons {  
  display: flex;  
  align-items: center;
} 

.bar__button {  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  padding: 0;  
  margin-right: 5px;  
  font-size: 8px;  
  height: 12px;  
  width: 12px;  
  box-sizing: border-box;  
  border: none;  
  border-radius: 100%;  
  background: linear-gradient(#7d7871 0%, #595953 100%);  
  text-shadow: 0px 1px 0px rgba(255,255,255,0.2);  
  box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
  user-select: none;
}

.bar__button:hover {  
  cursor: pointer;
}

.bar__button:focus {  
  outline: none;
}

#bar__button--exit {  
  background: linear-gradient(#f37458 0%, #de4c12 100%);    
  background-clip: padding-box;
}

#bar__button--minimize {
  background: linear-gradient(#f3e958 0%, #d0de12 100%);    
  background-clip: padding-box;
}

#bar__button--maximize {
  background: linear-gradient(#58f358 0%, #12de34 100%);    
  background-clip: padding-box;
}

#bar__user {   
  color: #d5d0ce;  
  margin-left: 6px;  
  font-size: 14px;  
  line-height: 15px;
  user-select: none;
}

#bar__name {
    color: #d5d0ce;  
    margin-left: calc((100% / 2) - 75px);  
    font-size: 14px;  
    line-height: 15px;
    position: relative;
    user-select: none;
}

#bar__name--terminal {
  color: #d5d0ce;
  margin-left: calc(100% - 72%);
  font-size: 14px;
  line-height: 15px;
  position: relative;
  user-select: none;
}

#terminal__body {  
  background: rgba(30, 25, 30, 1);  
  font-family: 'Ubuntu Mono';  
  height: calc(100% - 30px);  
  padding-top: 2px;  
  margin-top: -1px;
}

#terminal__prompt {  
  display: flex;
} 

#terminal__prompt--user {  
  color: #7eda28;
  margin-top: 2px;
  margin-left: 1%;
  user-select: none;
}

#terminal__prompt--location { 
  color: #4878c0;
  margin-top: 2px;
  user-select: none;
}

#terminal__prompt--bling {  
  color: #dddddd;
  margin-top: 2px;
  user-select: none;
}

#terminal__prompt--cursor {  
  display: block;  
  height: 17px;  
  width: 8px;  
  margin-top: 2px;
  margin-left: 6px;  
  animation: blink 1200ms linear infinite;
  user-select: none;
}

#terminal__prompt--text input {
    display: flex;
    background: rgba(56, 4, 40, 0.0);
    font-family: 'Ubuntu mono';
    font-size: 14px;
    color: #7eda28;
    width: auto;
    margin-top: 2px;
    margin-left: -1px;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-style: hidden;
    outline: none;
    caret-color: transparent;
    user-select: none;
}

#terminal__prompt--text input::placeholder {
    opacity: 70%;
    color: #7eda28;
    cursor: pointer;
    user-select: none;
}

#terminal__textarea {
    margin-top: 2%;
    margin-left: 1px;
    height: auto;
}

/* remove opacity */
#terminal__prompt--t h1 { 
    opacity: 0;
    display: flex;
    font-family: 'Ubuntu';
    font-size: 32px;
    color: #7eda28;
    margin-top: -1%;
    margin-left: 1.5%;
    margin-bottom: 0%;    
}

#terminal__prompt--t p {
    opacity: 0;
    display: flex;
    font-family: 'Ubuntu';
    font-size: 16px;
    color: #7eda28;
    margin-left: 1.5%;
    margin-top: 1px;   
    margin-bottom: 0%; 
}

#project__wrapper {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -52.5%);
  z-index: 0;
}

#project {
  display: none;
  position: relative;
  width: 60vw;
  height: 85vh;
  box-shadow: 2px 4px 10px rgb(0 0 0 / 50%);
  transition: 10ms ease-in-out;
}

#project__bar {
  display: flex;  
  width: 100%;  
  height: 30px;  
  align-items: center;  
  padding: 0 8px;  
  box-sizing: border-box;  
  border-top-left-radius: 5px;  
  border-top-right-radius: 5px;  
  background: linear-gradient(#504b45 0%,#3c3b37 100%);
}

#project__body {
  background: rgba(30, 25, 30, 1);  
  font-family: 'Ubuntu Mono';  
  height: calc(100% - 30px);  
}

#project__body--side--bar {
  height: 100%;
  width: calc(100% - 80%);
  box-shadow: 1.5px -0.1px rgb(255, 255, 255, 0.2);
  background-color: rgba(116, 116, 116, 0.125);
}

#project__body--side--bar--p {
  text-align: center;
  font-size: xx-large;
  font-family: 'Ubuntu';
  font-variant-caps: all-petite-caps;
  font-weight: 600;
  transform: translateY(-25px);
  color: #ffffffe3;
  user-select: none;
}

#skills__frontend {
  margin: 0;
  padding: 0;
  color: #ffffffe3;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 16px;
  transform: translate(calc(100% / 3.5), -45px);
  list-style: none;
}

#skills__frontend  > li{
  transform: translateX(20px);
}

 #skills__frontend--html {
  font-family: 'Ubuntu Mono';
  font-weight: 200;
  font-size: 14px;
}   

#skills__frontend--css {
  font-family: 'Ubuntu Mono';
  font-weight: 200;
  font-size: 14px;
}

#skills__frontend--js {
  font-family: 'Ubuntu Mono';
  font-weight: 200;
  font-size: 14px;
}

#bar__button--project {
  display: flex;  
  align-items: center;
}

#resume__wrapper {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-82%, -78%);
}

#resume {
  display: none;
  position: relative;
  width: 60vw;
  height: 62vh;
  box-shadow: 2px 4px 10px rgb(0 0 0 / 50%);
  transition: 10ms ease-in-out;
}

#resume__bar {
  display: flex;  
  width: 100%;  
  height: 30px;  
  align-items: center;  
  padding: 0 8px;  
  box-sizing: border-box;  
  border-top-left-radius: 5px;  
  border-top-right-radius: 5px;  
  background: linear-gradient(#504b45 0%,#3c3b37 100%);
}

#resume__body {
  background: rgba(30, 25, 30, 1);  
  font-family: 'Ubuntu Mono';  
  height: calc(100% - 30px);  
}

#bar__button--resume {
  display: flex;  
  align-items: center;
}

#minesweeper__wrapper {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -53%);
  z-index: 0;
}

#minesweeper {
  display: none;
  position: relative;
  width: 44.26vw;
  height: 91vh;
  box-shadow: 2px 4px 10px rgb(0 0 0 / 50%);
  transition: 10ms ease-in-out;
}

#minesweeper__bar {
  display: flex;  
  width: 100%;  
  height: 30px;  
  align-items: center;  
  padding: 0 8px;  
  box-sizing: border-box;  
  border-top-left-radius: 5px;  
  border-top-right-radius: 5px;  
  background: linear-gradient(#504b45 0%,#3c3b37 100%);
}

#minesweeper__body {
  background: rgb(121, 121, 121);  
  font-family: 'Ubuntu Mono';  
  height: calc(100% - 30px);  
}

#bar__button--minesweeper {
  display: flex;  
  align-items: center;
}

#contact__wrapper {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  z-index: 0;
}

#contact {
  display: none;
  position: relative;
  width: 30vw;
  height: 85vh;
  box-shadow: 2px 4px 10px rgb(0 0 0 / 50%);
  transition: 10ms ease-in-out;
}

#contact__bar {
  display: flex;  
  width: 100%;  
  height: 30px;  
  align-items: center;  
  padding: 0 8px;  
  box-sizing: border-box;  
  border-top-left-radius: 5px;  
  border-top-right-radius: 5px;  
  background: linear-gradient(#504b45 0%,#3c3b37 100%);
}

#contact__body {
  background: linear-gradient(rgb(18, 11, 21) 0%,rgb(53, 35, 65) 50%, rgb(20, 14, 23) 100%);  
  font-family: 'Ubuntu Mono';  
  height: calc(100% - 30px);  
}

#bar__button--contact {
  display: flex;  
  align-items: center;
}

#contact__header {
  display: block;
  position: relative;
  text-align: center;
  height: 15%;
  width: 100%;
  background-color: linear-gradient(rgb(18, 11, 21) 0%,rgb(53, 35, 65) 50%, rgb(20, 14, 23) 100%);
  box-shadow: 0px 3px 3px rgba(255,255,255,0.2);
}

#contact__body > form {
  height: 75%;
}

form > label {
  display: none;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu';
  font-size: 16px;
  color: #fff;
  margin: auto;
}

form > input::placeholder {
  color: #ffffff95;
}

form > textarea::placeholder {
  color: #ffffff95;
}

#contact__header > h1 {
  display: block;
  position: relative;
  text-align: center;
  color: #ffffffee;
  font-size: xxx-large;
  font-family: 'Ubuntu Mono';
  padding: 2.5%;
  width: 50%;
  margin: auto;
}

#name {
  display: flex;
  position: relative;
  text-align: center;
  width: 90%;
  background-color: rgba(115 105 115 / 25%);
  border-color: rgba(103, 103, 103, 0.5);
  color: #fff;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 16px;
  font-family: 'Ubuntu';
  scale: 100%;
  margin: auto;
}

#email {
  display: flex;
  position: relative;
  text-align: center;
  width: 90%;
  background-color: rgba(115 105 115 / 25%);
  border-color: rgba(115 115 115 / 50%);
  color: #fff;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 16px;
  font-family: 'Ubuntu';
  scale: 100%;
  margin: auto;
}

#message {
  display: flex;
  position: relative;
  text-align: center;
  width: 90%;
  background-color: rgba(115 105 115 / 25%);
  border-color: rgba(115 115 115 / 50%);
  color: #fff;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 16px;
  font-family: 'Ubuntu';
  scale: 100%;
  margin: auto;
}

#button__submit {
  display: block;
  position: relative;
  text-align: center;
  width: 90%;
  background-color: rgba(115 105 115 / 25%);
  border-color: rgba(115 115 115 / 50%);
  color: #ffffff95;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 16px;
  font-family: 'Ubuntu';
  scale: 100%;
  margin: auto;
}

#bar {
  display: block;
  position: relative;
  width: 90%;
  height: 1.5px;
  background-color: #ffffff35;
  margin: auto;
  transform: translateY(20px);
}

.fa-github:only-child {
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
  scale: -15%;
  rotate: 180deg;
    transform: translateY(-255%);
  filter: invert(100%);
  opacity: 55.5%;
}

.fa-github:hover {
  opacity: 100%;
}

#contact__footer {
  display: block;
  height: 15%;
  width: 100%;
  background-color: linear-gradient(rgb(18, 11, 21) 0%,rgb(53, 35, 65) 50%, rgb(20, 14, 23) 100%);
  box-shadow: -0.1px -2px 0px rgba(255,255,255,0.2);
}

@keyframes blink {  
  0% {    
    background: #ffffff;  
  }  
  49% {    
    background: #ffffff;  
  }  
  60% {    
    background: transparent;  
  }  
  99% {    
    background: transparent;  
  }  100% {    
    background: #ffffff;  
  }
}

@media (max-width: 600px) {  
  #terminal {    
    max-height: 90%;    
    width: 90%;  
    display: none;
  }
}